body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background:  linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../img/image1.jpg") center top / cover;

}

ul{
    padding: 0;
}

.container{
    
    margin: 0 auto;
    
}
header{

    width: 100%;
    position: fixed;
    background-color: rgba(15, 14, 14, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
    
    
    

}


div{
    box-sizing: border-box;
}

.account{
    position:relative;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    float: right;
   
}
.dws-menu{
 
    float: left;
    margin-left: 20px;
   
}

.dws-menu2{
   
    float: right;
    margin-right: 20px;

    
}
.dws-menu2 ul,
.dws-menu2 ol,
.dws-menu ul,
.dws-menu ol{
    list-style: none;
}
.dws-menu2 ul,
.dws-menu ul{
    display: flex;
}


.dws-menu2 ul li a,
.dws-menu ul li a{
    display: block;
    background: #ececed;
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
    opacity: 0.8;
}

.dws-menu ul li:nth-child(2){
 
    left: 5px;
} 

.dws-menu ul li:nth-child(3){
    position: relative;
    margin-left: 700px;
    right: 5px;
} 

.dws-menu2 ul li,
.dws-menu ul li {
    position: relative;

}
.dws-menu2 ul li a i.fa,
.dws-menu ul li a i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;

}

.clearfix:after{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}


/* .try{
    
    position: fixed;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    display: table;
} */